spring:
  application:
    name: courier-back
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:postgres}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: /api

app:
  security:
    jwt:
      public-key-path: ${JWT_PUBLIC_KEY_PATH:}
      private-key-path: ${JWT_PRIVATE_KEY_PATH:}
