app:
  security:
    cors:
      allowed-origins:
        - http://localhost:4200
    jwt:
      private-key-uri: classpath:keys/jwt-test-private.pem
      public-key-uri: classpath:keys/jwt-test-public.pem
